.productsdiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.product {
    width: 300px;
    margin: 35px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
.product img {
    width: 100%;
    border-radius: 5px;
}
.product p {
    margin: 5px 0;
    color: black;
    text-align: center;
    font-size: small;
    font-weight: 400;
}
@media (max-width: 768px) {
    .productsdiv {
        justify-content: center;
    }
    .product {
        width: 90%;
    }
}
